---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---

<section class="relative pt-32 lg:pt-36">
    <Container>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        

        <div class="grid md:grid-cols-2 grid-cols-1 justify-items-center bg-blue-50 p-6 rounded-[1em] overflow-hidden">

            <div class="flex flex-col p-3 lg:flex-row gap-10 lg:gap-12  items-center">

                <div class="flex flex-col text-center lg:text-left lg:py-7 xl:py-8 
                lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
                    
                    <h1 class="text-1xl/tight sm:text-2xl/tight 
                     font-bold ">
                     Anuncia en internet
                    </h1>
                    <div class="mt-8 font-semibold">
                        Anuncia en google entre los primeros lugares de búsqueda
                    </div>
                  
                </div>
        
                <div class="w-[60%] sm:w-[40%] ">
                    <img src="/images/Slider1.webp" alt="Hero image"  class="w-full h-auto object-contain">
                </div>
        
            </div>

            <div class="flex flex-col p-3 lg:flex-row gap-10 lg:gap-12  items-center">

                <div class="flex flex-col text-center lg:text-left lg:py-7 xl:py-8 
                lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
                    
                    <h1 class="text-1xl/tight sm:text-2xl/tight 
                     font-bold ">
                     SEO Posicionamiento en Motores de Busqueda
                    </h1>
                    <div class="mt-8 font-semibold">
                        (Search Engine Optimization) optimiza tu pagina web para que este en los primeros lugares
                    </div>
                  
                </div>
        
                <div class="w-[60%] sm:w-[40%] ">
                    <img src="/images/Slider2.webp" alt="Hero image"  class="w-full h-auto object-contain">
                </div>
        
            </div>


            <div class="flex flex-col p-3 lg:flex-row gap-10 lg:gap-12  items-center">

                <div class="flex flex-col text-center lg:text-left lg:py-7 xl:py-8 
                lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
                    
                    <h1 class="text-1xl/tight sm:text-2xl/tight 
                     font-bold ">
                     Comunity manage
                    </h1>
                    <div class="mt-8 font-semibold">
                        Clientes potenciales conectados en tus redes Sociales
                    </div>
                  
                </div>
        
                <div class="w-[60%] sm:w-[40%] ">
                    <img src="/images/Slider3.webp" alt="Hero image"  class="w-full h-auto object-contain">
                </div>
        
            </div>


            <div class="flex flex-col p-3 lg:flex-row gap-10 lg:gap-12  items-center">

                <div class="flex flex-col text-center lg:text-left lg:py-7 xl:py-8 
                lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
                    
                    <h1 class="text-1xl/tight sm:text-2xl/tight 
                     font-bold ">
                     Anuncia en internet
                    </h1>
                    <div class="mt-8 font-semibold">
                        Anuncia en google entre los primeros lugares de búsqueda
                    </div>
                  
                </div>
        
                <div class="w-[60%] sm:w-[40%] ">
                    <img src="/images/Slider4.webp" alt="Hero image"  class="w-full h-auto object-contain">
                </div>
        
            </div>


          

            
            </div>
        </div>
        
        
    </Container>

    <ByNumber/>
</section>