---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";


export interface ServiceProps  {
    title: string;
    image: string;
};


---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Paquetes de servicios de SEO asequibles
            </Title>
           
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-8">
            {
                    services.map((service) => (
                            <Service title={service.title} image={service.image}/>
                            
                            ))
                    
            }
        </div>
    </Container>
</section>